
:root {
    --nav-bar-height: 65px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding-top: calc(var(--nav-bar-height) + 1rem);
}

/* 2. header */
.navbar-brand h3 {
    color: #fff;
    font-size: 25px;
    margin: 0;
}
.sticky .navbar-brand h3 {
    color: #444;
    font-size: 25px;
    margin: 0;
}
.main-menu ul.navbar-nav {
}
.main-menu ul.navbar-nav li {
    margin-left: 35px;
}
.main-menu ul.navbar-nav li a.nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 11px 0;
    line-height: 1;
    position: relative;
}
.main-menu ul.navbar-nav li a.nav-link::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    left: -15px;
    top: 37px;
    background: #fff;
    transition: 0.3s;
}
.main-menu ul.navbar-nav li.active a.nav-link:before,
.main-menu ul.navbar-nav li a.nav-link:hover:before {
    width: 12px;
}
.sticky {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
    z-index: 1030;
    /*padding: 3px 0;*/
    background: #fff;
    padding: 0;
    /*height: var(--nav-bar-height);*/
}

.sticky .main-menu ul.navbar-nav li a.nav-link {
    color: #444;
}
.sticky .main-menu ul.navbar-nav li a.nav-link::before {
    top: 17px;
    transition: 0.3s;
    background: #666;
}

.sticky .navbar-icon {
    background: #444;
}
.header-text-black .main-menu ul.navbar-nav li a.nav-link {
    color: #222;
}
.header-text-black .navbar-brand h3 {
    color: #222;
}
.header-text-black .main-menu ul.navbar-nav li a.nav-link::before {
    background: #222;
}

/*----  Main Style  ----*/
#cards-hover a{
    text-decoration: none;
    outline: none;
}

#cards-hover .card .image-box{
    background: #ffffff;
    overflow: hidden;
    /*box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);*/
    /*border-radius: 5px;*/
}
#cards-hover .card .image-box img{
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease;
    object-fit: contain;
    width: auto;
    height: 200px;
}
#cards-hover .card:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

#cards-hover .card{
    background: #FFFFFF;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards-hover .card:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#cards-hover .card .body{
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}
#cards-hover .card h6{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00acc1;
}

.black-bg {
    background: #111;
}

#cards-hover .card .star-rating .checked{
    color: orange !important;
}

#cards-hover .card .star-rating {
    color: #212529;
}